
<sibling1></sibling1>



<!-- <p>Message Received From Child : {{receivedMsg}}</p> -->

<!-- Step 4 : Added Custom Event Handler in Parent Component and Added a Event Handler to Reveive A Data -->
<!-- <murali (sendInfo)="receiveMessageFromChild($event)"></murali> -->



<!-- <app-sample 
    [message]="myName" 
    [mydetails]="person"
    [arrayvalues]="users"> 
</app-sample> -->


<!-- <h2>Welcome to Angular 10</h2>

<h2>My Name is : {{myName}}</h2> -->

<!-- <ul>
    <li>{{person.fname}}</li>
    <li>{{person.lname}}</li>
</ul> -->

<!-- <ul>
    <li *ngFor="let user of users">{{user}}</li>
</ul> -->

<!-- <ul>
    <li *ngFor="let key of personKeys">{{key}} - {{person[key]}}</li>
</ul> -->
